<div class='row m-2 ms-3 p-3 bg-secondary'>
  <div class='col-12'>
    <div class='card m-1 p-1'>
      <nav class='navbar'>
        <div class='nav-item'>
          Iepryntseva Olga
          <i class='fa-solid fa-user'></i>
        </div>
        <div class='nav-item ms-25'>Resume project
        </div>
      </nav>
    </div>
  </div>
</div>